.navbar {
  display: inline-flex;
  flex-direction: column;
}
.navbar li {
  list-style-type: none;
  margin-bottom: 5%;
  width: fit-content;
}
.navbar li a {
  text-decoration: none;
  color: black;
}
.navbar li a:hover {
  border-bottom: 1px solid;
}
.active {
  font-weight: bold;
  border-bottom: 1px solid;
}
